<template>
  <!-- <div id="app">
    <router-link to="/">Truckyourself Home</router-link> |
    <router-link to="/about">About</router-link>
      
  </div> -->
  <div id="app"> 
      <router-view/> 
  </div>

</template>
 

<style >
  #app {
    height: 100%;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }


</style>