html, body {
    height: 100%;
}

body  {
    margin: 0;
    padding: 0;

}
.row {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    justify-content: space-around;
    padding: 3px;

}


