<template>
  <form @submit.prevent="postSession" class="login">
    <label>Username</label>
    <input name="username" v-model="username" class="logininput" type="text" />
    <label>Password</label>
    <input
      name="password"
      v-model="password"
      class="logininput"
      type="password"
    />
    <button @click="loginbuttonclicked" class="loginbutton" type="submit">
      Log in
    </button>
    <div id="errors" v-if="errors.length">
      ERROR:
      <ul>
        <li v-for="error in errors" :key="error.message">{{ error }}</li>
      </ul>
    </div>
    <div class="registerarea">
      <router-link to="/signup">
        <a>Not a member?</a>
      </router-link>
    </div>
  </form>
</template>

<script>
let postSession = async (username, password) => {
  let data = await fetch("http://66.42.84.69:3000/session", {
    body: JSON.stringify({
      username: username,
      password: password,
    }),
    method: "POST",
    credentials: "include",
    headers: {
      "Content-Type": "application/json",
    },
  });
  return data;
};
export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
      errors: [],
    };
  },
  methods: {
    validateLogin() {
      this.errors = [];
      if (this.username == "") {
        this.errors.push("Please enter a username.");
      }
      if (this.password == "") {
        this.errors.push("Please enter a password.");
      }
      if (this.errors.length > 0) {
        return false;
      } else {
        return true;
      }
    },
    clearLogin() {
      this.username = "";
      this.password = "";
    },
    loginbuttonclicked() {
      if (this.validateLogin()) {
        postSession(this.username, this.password).then((response) => {
          if (response.status == 200) {
            console.log("LOGGED IN");
            const res = response.json();
            res.then((type) => {
              // Store authenticated user information to the browser local storage to make track of the user type and actions
              const data = {
                loggedIn: true,
                userType: type.usrtype,
                userId: type.userId,
              };
              localStorage.setItem("user", JSON.stringify(data));
              if (type.usrtype == "truckee") {
                this.clearLogin();
                this.$router.push("/truckee");
              } else {
                this.clearLogin();
                this.$router.push("/trucker");
              }
            });
          } else if (response.status == 422) {
            this.clearLogin();
            this.errors.push("validation error");
          } else {
            //unexpected server error
            this.clearLogin();
            this.errors.push("Authentication Error!");
          }
        });
      }
    },
  },
};
</script>

<style scoped lang="scss">
.login {
  display: flex;
  flex-direction: column;
  color: white;

  width: 100%;
  height: 100%;
}
.logininput {
  padding: 15px;
  margin: 15px;
}
label {
  text-align: left;
  margin: 25px 0 0 15px;
  font-size: 20px;
  font-weight: bold;
}
button {
  margin: 15px;
  padding: 10px;
}

.btn {
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: white;
  padding-left: 10px;

  &:hover {
    color: rgb(4, 4, 235);
  }
}

.registerarea {
  margin: 20px;
}

.loginbutton {
  background-color: rgb(87, 87, 248);
  font-size: 20px;
  color: white;
  border-radius: 15px;
  border: none;
  &:focus {
    background-color: rgb(59, 59, 173);
  }
}
.loginarea {
  margin: 10px;
}
</style>