<template>
  <form @submit.prevent="postUser" class="register">
    <label>Username</label>
    <input
      name="username"
      v-model="username"
      class="registerinput"
      type="text"
    />
    <label>E-mail</label>
    <input name="email" v-model="email" class="registerinput" type="text" />
    <label>Password</label>
    <input
      name="password"
      v-model="password"
      class="registerinput"
      type="password"
    />
    <div>
      <input
        type="radio"
        v-model="userType"
        id="trucker"
        name="usertype"
        value="trucker"
      />
      <label for="trucker">Move Items</label>
    </div>
    <div>
      <input
        type="radio"
        v-model="userType"
        id="truckee"
        name="usertype"
        value="truckee"
      />
      <label for="truckee">Need Items Moved</label>
    </div>

    <button @click="signupbuttonclicked" class="signupbutton" type="submit">
      Register
    </button>
    <div id="errors" v-if="errors.length">
      ERROR:
      <ul>
        <li v-for="error in errors" :key="error.message">{{ error }}</li>
      </ul>
    </div>
    <div class="loginarea">
      <router-link to="/login">
        <a>Log in</a>
      </router-link>
    </div>
  </form>
</template>

<script>
let postSession = async (username, password) => {
  let data = await fetch("http://66.42.84.69:3000/session", {
    body: JSON.stringify({
      username: username,
      password: password,
    }),
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
  });
  return data;
};
let postUser = async (username, email, password, userType) => {
  let data = await fetch("http://66.42.84.69:3000/users", {
    body: JSON.stringify({
      username: username,
      email: email,
      password: password,
      usertype: userType,
    }),
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
  });

  return data;
};
export default {
  name: "Signup",
  data() {
    return {
      username: "",
      email: "",
      password: "",
      errors: [],
    };
  },
  methods: {
    validateSignup() {
      this.errors = [];
      if (this.username == "") {
        this.errors.push("Please enter a username.");
      }
      if (this.email == "") {
        this.errors.push("Please enter a email.");
      }
      if (this.password == "") {
        this.errors.push("Please enter a password.");
      }
      if (this.password.length < 7) {
        this.errors.push("Password must be longer than 6 characters.");
      }
      if (this.errors.length > 0) {
        return false;
      } else {
        return true;
      }
    },
    clearSignup() {
      this.username = "";
      this.email = "";
      this.password = "";
    },
    signupbuttonclicked() {
      if (this.validateSignup()) {
        console.log("SIGNING IN!!");
        postUser(this.username, this.email, this.password, this.userType).then(
          (response) => {
            if (response.status == 201) {
              postSession(this.username, this.password);
              const res = response.json();
              res.then((user) => {
                const data = {
                  loggedIn: true,
                  userType: this.userType,
                  userId: user._id,
                };
                localStorage.setItem("user", JSON.stringify(data));
              });
              if (this.userType == "truckee") {
                this.clearSignup();
                this.$router.push("/truckee");
              } else {
                this.clearSignup();
                this.$router.push("/trucker");
              }
            } else if (response.status == 422) {
              this.clearSignup();
              this.errors.push("validation error");
            } else {
              this.clearSignup();
              this.errors.push("email or username already exists!!");
            }
          }
        );
      }
    },
  },
};
</script>

<style scoped lang="scss">
.register {
  display: flex;
  flex-direction: column;
  width: 100%;
}
input {
  padding: 15px;
  margin: 15px;
}
label {
  text-align: left;
  margin: 25px 0 0 15px;
  font-size: 20px;
  font-weight: bold;
}
button {
  margin: 15px;
  padding: 10px;
}

.back2loginbutton {
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: white;
  padding: 10px;

  &:hover {
    color: rgb(4, 4, 235);
  }
}

.signupbutton {
  background-color: rgb(87, 87, 248);
  font-size: 15px;
  color: white;
  margin: 15px 7px 15px 7px;
  border-radius: 15px;
  border: none;
  &:focus {
    background-color: rgb(59, 59, 173);
  }
}
.loginarea {
  margin: 10px;
}
#trucker {
  padding: 0;
}
#truckee {
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0px;
  }
}
</style>