<template>
  <div id="siview">
    <Sidebar
      id="sidebar"
      @renderOnMap="showThisJobOnMap"
      @updatethisJob="updateJob"
      ref="jobs"
    />
    <Map id="map" :src="src" />
    <!-- <Jobs id="jobs" /> -->
    <div id="jobs">
      <div id="descriptionarea">
        <form @submit="postjobbuttonclicked" class="postjobform">
          <h3>Pick-up Address</h3>
          <div class="row">
            <input
              name="puadd"
              v-model="puadd"
              type="text"
              placeholder="Pick up Address"
            />
          </div>
          <div class="row">
            <input
              name="pucity"
              v-model="pucity"
              type="text"
              placeholder="Pick up City"
            />
          </div>
          <div class="row">
            <input
              name="pustate"
              v-model="pustate"
              type="text"
              placeholder="Pick up State"
            />
          </div>
          <div class="row">
            <input
              name="puzip"
              v-model="puzip"
              type="text"
              placeholder="Pick up Zip"
            />
          </div>
          <div class="row">
            <textarea
              name="pudescr"
              v-model="pudescr"
              id="jobdescription"
              placeholder="WARNING: Drivers will cancel accepted jobs if descriptions are not accurate."
            ></textarea>
          </div>
          <h3>Destination Address</h3>
          <div class="row">
            <input
              name="destadd"
              v-model="destadd"
              type="text"
              placeholder="Destination Address"
            />
          </div>
          <div class="row">
            <input
              name="destcity"
              v-model="destcity"
              type="text"
              placeholder="Destination City"
            />
          </div>
          <div class="row">
            <input
              name="deststate"
              v-model="deststate"
              type="text"
              placeholder="Destination State"
            />
          </div>
          <div class="row">
            <input
              name="destzip"
              v-model="destzip"
              type="text"
              placeholder="Destination Zip"
            />
          </div>

          <button type="submit" id="post">Post</button>
          <div id="errors" v-if="errors.length">
            ERROR:
            <ul>
              <li v-for="error in errors" :key="error.message">{{ error }}</li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Map from "../components/Map.vue";
import Sidebar from "../components/Sidebar.vue";

let postJob = async (
  puadd,
  pucity,
  pustate,
  puzip,
  pudescr,
  destadd,
  destcity,
  deststate,
  destzip,
  userId,
  jobPending
) => {
  let data = await fetch("http://66.42.84.69:3000/jobs", {
    body: JSON.stringify({
      puadd: puadd,
      pucity: pucity,
      pustate: pustate,
      puzip: puzip,
      pudescr: pudescr,
      destadd: destadd,
      destcity: destcity,
      deststate: deststate,
      destzip: destzip,
      userId: userId,
      jobPending: jobPending,
    }),
    method: "POST",
    credentials: "include",
    headers: {
      "Content-Type": "application/json",
    },
  });
  return data;
};
export default {
  components: { Map, Sidebar },
  name: "Truckee",

  data() {
    return {
      puadd: "",
      pucity: "",
      pustate: "",
      puzip: "",
      pudescr: "",
      destadd: "",
      destcity: "",
      deststate: "",
      destzip: "",
      jobPending: true,
      errors: [],
      userId: "",
      src: ``,
      ID: "",
    };
  },
  mounted() {
    const user = JSON.parse(localStorage.getItem("user"));
    this.userId = user.userId;
  },
  methods: {
    updateJob(job) {
      (this.puadd = job.puadd),
        (this.pucity = job.pucity),
        (this.pustate = job.pustate),
        (this.puzip = job.puzip),
        (this.pudescr = job.pudescr),
        (this.destadd = job.destadd),
        (this.destcity = job.destcity),
        (this.deststate = job.deststate),
        (this.destzip = job.destzip),
        (this.jobPending = job.jobPending),
        (this.ID = job._id);
    },
    validateJob() {
      this.errors = [];
      if (this.puadd == "") {
        this.errors.push("Please enter a valid pick up address");
      }
      if (this.pucity == "") {
        this.errors.push("Please enter a valid city");
      }
      if (this.pustate == "") {
        this.errors.push("Please enter a valid state");
      }
      if (this.puzip == "") {
        this.errors.push("Please enter a valid zip code");
      }
      if (this.pudescr == "") {
        this.errors.push("Please enter a detailed description");
      }
      if (this.destadd == "") {
        this.errors.push("Please enter a valid destination address");
      }
      if (this.destcity == "") {
        this.errors.push("Please enter a valid city");
      }
      if (this.deststate == "") {
        this.errors.push("Please enter a valid state");
      }
      if (this.destzip == "") {
        this.errors.push("Please enter a valid zip code");
      }
      if (this.errors.length > 0) {
        return false;
      } else {
        return true;
      }
    },
    clearJobs() {
      this.puadd = "";
      this.pucity = "";
      this.pustate = "";
      this.puzip = "";
      this.pudescr = "";
      this.destadd = "";
      this.destcity = "";
      this.deststate = "";
      this.destzip = "";
    },
    postjobbuttonclicked(e) {
      e.preventDefault();
      if (this.validateJob()) {
        console.log("Job has been validated.");
        if (this.ID === "") {
          postJob(
            this.puadd,
            this.pucity,
            this.pustate,
            this.puzip,
            this.pudescr,
            this.destadd,
            this.destcity,
            this.deststate,
            this.destzip,
            this.userId,
            this.jobPending
          ).then((response) => {
            if (response.status == 201) {
              const job = {
                puadd: this.puadd,
                pucity: this.pucity,
                pustate: this.pustate,
                puzip: this.puzip,
                pudescr: this.pudescr,
                destadd: this.destadd,
                destcity: this.destcity,
                deststate: this.deststate,
                destzip: this.destzip,
                userId: this.userId,
                jobPending: this.jobPending,
              };
              console.log("Posted!");
              this.showThisJobOnMap(job);
              this.clearJobs();
              this.$refs.jobs.reFreshJobs(job);
            } else {
              this.errors.push("Server error!");
            }
          });
        } else {
          fetch(
            `http://66.42.84.69:3000/jobs/${this.ID}`,

            {
              body: JSON.stringify({
                puadd: this.puadd,
                pucity: this.pucity,
                pustate: this.pustate,
                puzip: this.puzip,
                pudescr: this.pudescr,
                destadd: this.destadd,
                destcity: this.destcity,
                deststate: this.deststate,
                destzip: this.destzip,
              }),
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
              },
            }
          )
            .then((res) => res.json())
            .then((res) => {
              this.showThisJobOnMap(res);
              this.clearJobs();
              console.log(res);
            });
        }
      }
    },
    showThisJobOnMap(job) {
      this.src = `https://www.google.com/maps/embed/v1/directions?key=AIzaSyCEb4fADPm75VziVeN9rTSfMvsaDMcsF00
        &origin=${job.puadd}+${job.pucity}+${job.pustate}+${job.puzip}
        &destination=${job.destadd}+${job.destcity}+${job.deststate}+${job.destzip}
        &avoid=tolls|highways`;
    },
  },
};
</script>

<style lang="scss" scoped>
#siview {
  height: 100%;
  display: grid;
  grid-template-areas:
    "nav map"
    "nav  jobs";
  grid-template-columns: 250px 1fr;
}
input {
  padding: 5px;
  width: 100%;
}
#sidebar {
  grid-area: nav;
}
#map {
  grid-area: map;
  height: 42vh;
}

#jobs {
  grid-area: jobs;
  background-color: #546e7a;
  color: white;
}

.postjobform {
  width: 50%;
  margin-left: 25%;
}

#jobdescription {
  height: 50px;
  width: 100%;
  padding: 5px;
  overflow: none;
  resize: none;
}
button {
  margin: 15px;
  padding: 10px;
}

#post {
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(87, 87, 248);
  font-size: 20px;
  color: white;
  border-radius: 15px;
  border: none;
  &:focus {
    background-color: rgb(59, 59, 173);
  }
}
textarea::placeholder {
  color: red;
}
textarea {
  width: 60%;
}
</style>