<template>
  <div id="siview">
    <Sidebar @renderOnMap="showThisJobOnMap" />
    <Map id="map" :src="src" />
  </div>
</template>

<script>
import Map from "../components/Map.vue";
import Sidebar from "../components/Sidebar.vue";
export default {
  components: { Map, Sidebar },
  name: "Trucker",
  data() {
    return {
      src: ``,
    };
  },
  methods: {
    showThisJobOnMap(job) {
      this.src = `https://www.google.com/maps/embed/v1/directions?key=AIzaSyCEb4fADPm75VziVeN9rTSfMvsaDMcsF00
        &origin=${job.puadd}+${job.pucity}+${job.pustate}+${job.puzip}
        &destination=${job.destadd}+${job.destcity}+${job.deststate}+${job.destzip}
        &avoid=tolls|highways`;
    },
  },
};
</script>

<style lang="scss" scoped>
#siview {
  height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  background-color: rgb(212, 214, 213);
}
</style>