<template>
  <div id="jobs">
    <div id="descriptionarea">
      <form @submit="postjobbuttonclicked" class="postjobform">
        <h3>Pick-up</h3>
        <div class="row">
          <input
            name="puadd"
            v-model="puadd"
            type="text"
            placeholder="Pick up Address"
          />

          <input
            name="pucity"
            v-model="pucity"
            type="text"
            placeholder="Pick up City"
          />
        </div>
        <div class="row">
          <input
            name="pustate"
            v-model="pustate"
            type="text"
            placeholder="Pick up State"
          />
          <input
            name="puzip"
            v-model="puzip"
            type="text"
            placeholder="Pick up Zip"
          />
        </div>
        <div class="row">
          <textarea
            name="pudescr"
            v-model="pudescr"
            id="jobdescription"
            placeholder="WARNING: Drivers will cancel accepted jobs if descriptions are not accurate."
          ></textarea>
        </div>
        <div class="row">
          <input
            name="destadd"
            v-model="destadd"
            type="text"
            placeholder="Destination Address"
          />

          <input
            name="destcity"
            v-model="destcity"
            type="text"
            placeholder="Destination City"
          />
        </div>
        <div class="row">
          <input
            name="deststate"
            v-model="deststate"
            type="text"
            placeholder="Destination State"
          />

          <input
            name="destzip"
            v-model="destzip"
            type="text"
            placeholder="Destination Zip"
          />
        </div>

        <button type="submit" id="post">Post</button>
        <div id="errors" v-if="errors.length">
          ERROR:
          <ul>
            <li v-for="error in errors" :key="error.message">{{ error }}</li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
let postJob = async (
  puadd,
  pucity,
  pustate,
  puzip,
  pudescr,
  destadd,
  destcity,
  deststate,
  destzip,
  userId,
  jobPending
) => {
  let data = await fetch("http://66.42.84.69:3000/jobs", {
    body: JSON.stringify({
      puadd: puadd,
      pucity: pucity,
      pustate: pustate,
      puzip: puzip,
      pudescr: pudescr,
      destadd: destadd,
      destcity: destcity,
      deststate: deststate,
      destzip: destzip,
      userId: userId,
      jobPending: jobPending,
    }),
    method: "POST",
    credentials: "include",
    headers: {
      "Content-Type": "application/json",
    },
  });
  return data;
};
export default {
  name: "Createjobsarea",
  data() {
    return {
      puadd: "",
      pucity: "",
      pustate: "",
      puzip: "",
      pudescr: "",
      destadd: "",
      destcity: "",
      deststate: "",
      destzip: "",
      jobPending: true,
      errors: [],
      userId: "",
    };
  },
  mounted() {
    const user = JSON.parse(localStorage.getItem("user"));
    this.userId = user.userId;
  },
  methods: {
    validateJob() {
      this.errors = [];
      if (this.puadd == "") {
        this.errors.push("Please enter a valid pick up address");
      }
      if (this.pucity == "") {
        this.errors.push("Please enter a valid city");
      }
      if (this.pustate == "") {
        this.errors.push("Please enter a valid state");
      }
      if (this.puzip == "") {
        this.errors.push("Please enter a valid zip code");
      }
      if (this.pudescr == "") {
        this.errors.push("Please enter a detailed description");
      }
      if (this.destadd == "") {
        this.errors.push("Please enter a valid destination address");
      }
      if (this.destcity == "") {
        this.errors.push("Please enter a valid city");
      }
      if (this.deststate == "") {
        this.errors.push("Please enter a valid state");
      }
      if (this.destzip == "") {
        this.errors.push("Please enter a valid zip code");
      }
      if (this.errors.length > 0) {
        return false;
      } else {
        return true;
      }
    },
    clearJobs() {
      this.puadd = "";
      this.pucity = "";
      this.pustate = "";
      this.puzip = "";
      this.pudescr = "";
      this.destadd = "";
      this.destcity = "";
      this.deststate = "";
      this.destzip = "";
    },
    postjobbuttonclicked(e) {
      if (this.validateJob()) {
        console.log("Job has been validated.");
        postJob(
          this.puadd,
          this.pucity,
          this.pustate,
          this.puzip,
          this.pudescr,
          this.destadd,
          this.destcity,
          this.deststate,
          this.destzip,
          this.userId,
          this.jobPending
        ).then((response) => {
          if ((response, status == 201)) {
            console.log("Posted!");
            this.clearJobs();
            //work sldfasd;lkjf
          }
        });
      }
    },
  },
};
</script>

<style lang='scss' scoped>
#postjobform {
  height: 50%;
}
#jobdescription {
  height: 50px;
  overflow: none;
  resize: none;
}
button {
  margin: 15px;
  padding: 10px;
}
#descriptionarea {
  width: 50%;
  margin: 25px;
}
#post {
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(87, 87, 248);
  font-size: 20px;
  color: white;
  border-radius: 15px;
  border: none;
  &:focus {
    background-color: rgb(59, 59, 173);
  }
}
textarea::placeholder {
  color: red;
}
textarea {
  width: 60%;
}
</style>
