<template>
  <div>
    <iframe
      id="map"
      width="750"
      height="550"
      frameborder="0"
      style="border: 0"
      :src="src"
      allowfullscreen
    ></iframe>
  </div>
</template>

<script>
export default {
  name: "Map",
  props: ["src"],
};
</script>

<style lang="scss" scoped>
#map {
  width: 100%;
  height: 100%;
}
</style>