<template>
  <div id="sidebar">
    <div class="sidebarinner">
      <div v-if="userType === 'truckee'">
        <div v-if="jobs.length == 0" class="job-wrapper">
          You have no jobs pending.
        </div>

        <div v-else>
          <div
            v-for="(job, index) in jobs"
            :key="index"
            class="job-wrapper"
            @click="showThisJobOnMap(job._id)"
          >
            <p class="job-desc">{{ job.pudescr }}</p>
            <div class="job-add-wrapper">
              <h1>Pickup:</h1>

              {{ job.puadd }}
              {{ job.pucity }}

              <h1>Dropoff:</h1>
              {{ job.destadd }}
              {{ job.destcity }}
            </div>
            <div class="btn-controll">
              <button @click="editJob(job._id)">Edit</button>
              <button @click="deleteJob(job._id)">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div v-if="userType === 'trucker'">
        <div v-if="jobs.length == 0" class="job-wrapper">
          No jobs are available.
        </div>

        <div v-else>
          <div v-if="acceptedJob.length == 0">
            <div
              v-for="(job, index) in jobs"
              :key="index"
              @click="showThisJobOnMap(job._id)"
              class="job-wrapper"
            >
              <p class="job-desc">{{ job.pudescr }}</p>
              <div class="job-add-wrapper">
                <p>
                  <b>Pickup:</b>
                  {{ job.puadd }}
                  {{ job.pucity }}
                </p>
                <p>
                  <b>Dropoff:</b>
                  {{ job.destadd }}
                  {{ job.destcity }}
                </p>
                <div class="btn-controll">
                  <button @click="AcceptThisJob(job._id)">Accept Job</button>
                </div>
              </div>
            </div>
          </div>

          <div v-else>
            <div
              v-for="(job, index) in acceptedJob"
              :key="index"
              @click="showThisJobOnMap(job._id)"
              class="job-wrapper"
            >
              <p class="job-desc">{{ job.pudescr }}</p>
              <div class="job-add-wrapper">
                <p>
                  <b>Pickup:</b>
                  {{ job.puadd }}
                  {{ job.pucity }}
                </p>
                <p>
                  <b>Dropoff:</b>
                  {{ job.destadd }}
                  {{ job.destcity }}
                </p>
                <div class="btn-controll">
                  <button @click="CompleteThisJob(job._id)">
                    Complete Job
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="logoutarea">
      <button @click="logoutbuttonclicked" id="logout">Log-out!</button>
    </div>
  </div>
</template>

<script>
let deleteSession = async () => {
  let data = await fetch("http://66.42.84.69:3000/session", {
    method: "DELETE",
  });
  return data;
};

export default {
  name: "Sidebar",
  data() {
    return {
      userType: 1,
      userId: "",
      jobs: [],
      acceptedJob: [],
    };
  },
  props: ["renderOnMap"],
  methods: {
    reFreshJobs(job) {
      this.jobs.unshift(job);
    },
    AcceptThisJob(id) {
      fetch(`http://66.42.84.69:3000/jobs/${id}`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((res) => res.json())
        .then((res) => {
          if (res.Available === false) {
            alert("This job has been taken!");
            this.jobs = this.jobs.filter((f) => f._id !== id);
          } else {
            fetch(`http://66.42.84.69:3000/Acceptjob/${id}`, {
              method: "PUT",
              headers: {
                "Content-Type": "application/json",
              },
            }).then((res) => {
              if (res.status === 200) {
                const currentJob = this.jobs.filter((f) => f._id === id);
                this.acceptedJob.push(currentJob[0]);
                this.$emit("renderOnMap", currentJob[0]);
              }
            });
          }
        });
    },
    CompleteThisJob(id) {
      fetch(`http://66.42.84.69:3000/completejob/${id}`, {
        method: "PUT",
      }).then((res) => {
        if (res.status === 200) {
          this.jobs = this.jobs.filter((j) => j._id !== id);
          this.acceptedJob.pop();
        }
      });
    },
    editJob(id) {
      const currentJob = this.jobs.filter((f) => f._id === id);
      this.$emit("updatethisJob", currentJob[0]);
    },
    showThisJobOnMap(id) {
      const currentJob = this.jobs.filter((f) => f._id == id);
      this.$emit("renderOnMap", currentJob[0]);
    },
    deleteJob(id) {
      if (confirm("Are you sure to delete this job?")) {
        fetch(`http://66.42.84.69:3000/jobs/${id}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        }).then((res) => {
          if (res.status === 200) {
            this.jobs = this.jobs.filter((j) => j._id !== id);
          }
        });
      }
    },
    logoutbuttonclicked() {
      console.log("LOGGING OUT..");
      deleteSession().then((response) => {
        if (response.status == 200) {
          this.$router.push("/");
        }
      });
    },
  },
  mounted() {
    const userData = JSON.parse(localStorage.getItem("user"));
    this.userType = userData.userType;

    if (this.userType === "truckee") {
      fetch("http://66.42.84.69:3000/jobs", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          userId: userData.userId,
        },
      })
        .then((res) => res.json())
        .then((res) => {
          this.jobs = res;
          this.$emit("renderOnMap", this.jobs[0]);
        });
    } else {
      fetch("http://66.42.84.69:3000/jobs", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((res) => res.json())
        .then((res) => {
          this.jobs = res.filter(
            (f) => f.jobPending == true && f.Available === true
          );
          this.$emit("renderOnMap", this.jobs[0]);
        });
    }
  },
};
</script>

<style lang="scss" scoped>
#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: #6d4c41;
}
.sidebarinner {
  height: 94vh;
  overflow-y: auto;
}
#logoutarea {
  display: grid;
}
#logout {
  padding: 10px;
  height: 50px;
  color: white;
  background-color: rgb(87, 87, 248);
  font-size: 20px;
  color: white;
  border: none;
  &:focus {
    background-color: rgb(59, 59, 173);
  }
}

.job-wrapper {
  font-size: 20px;
  display: table;
  margin: 0 auto;
  width: 95%;
  min-height: 50px;
  background-color: rgb(124, 123, 123);
  margin-bottom: 5px;
  color: white;
  padding: 10px 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(12, 11, 11, 0.23);
}
.job-desc {
  margin: 0;
  padding: 0;
  text-align: left;
  padding: 2px 12px;
}
.job-add-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
.btn-controll {
  display: flex;
  justify-content: space-between;

  & button {
    padding: 5px 30px;
    margin: 5px;
  }
}
button {
  color: white;
  background-color: rgb(87, 87, 248);
}
h1 {
  font-size: 1.2em;
}
@media only screen and (max-width: 768px) {
  .card {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 0px;
  }
}
</style>